<ion-header>
  <ion-toolbar>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header class="ion-no-padding">
          <img src="assets/manor.jpg">
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>
            Discount Code
          </ion-card-title>
          <ion-card-subtitle>
            18.09.2019
          </ion-card-subtitle>
          <ion-card-content>
            Dies ist ein Discount Code für den Manor-Food
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header class="ion-no-padding">
          <img src="assets/manor.jpg">
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>
            Discount Code
          </ion-card-title>
          <ion-card-subtitle>
            18.09.2019
          </ion-card-subtitle>
          <ion-card-content>
            Dies ist ein Discount Code für den Manor-Food
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
