<ion-header>
  <ion-toolbar>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let codes of codesCategory; let i = index">

    <ion-list-header>{{ categories[i] }}</ion-list-header>
    <ion-item>
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let code of codes | async">
          <ion-card>
            <ion-card-header class="ion-no-padding">
              <!--<img src="assets/manor.jpg">-->
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>
                {{ (code?.company | doc | async)?.name }}
              </ion-card-title>
              <ion-card-subtitle>
                <!-- {{ code.createdAt.toDateString }} -->
              </ion-card-subtitle>
              <ion-card-content>
                <ion-text>{{ code?.code }}</ion-text>
              </ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>

  </ion-list>
</ion-content>
