<ion-header>
  <ion-toolbar>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let codes of codesCategory; let i = index">

    <ion-list-header><b>{{ categories[i] }}</b></ion-list-header>
    <ion-item>
      <ion-slides class="slide" [options]="slideOpts">
        <ion-slide *ngFor="let code of codes | async">
          <ion-card>
            <ion-card-header class="ion-no-padding">
              <img class="discover-card-img" [src]="'assets/company/' + (code?.company | doc | async)?.imageUrl">
            </ion-card-header>
            <ion-card-content class="card-content">
              <ion-card-title>
                {{ (code?.company | doc | async)?.name }}
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>

  </ion-list>
</ion-content>
